body {
    margin: 0 10%;
}

header,.btns {
    padding: 2%;
    text-align: center;
}

.detail, .subs {
    margin: 2% 10%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 2px;
}