#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
}
.info .selector, .info div{

     margin-right:1vw;
}


.info button{
  display: block;
}

.selector {
  overflow-y: scroll;
  width: 110px;
  height: 90px;
  border: 1px solid silver;
}



