<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <script th:src="@{/js/detail.js}"></script>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded",function () {
            init([[${dto.boardId}]]);
        })
    </script>
</head>
<body>
<header>
    <a th:href="@{/list}" th:text="HOME"/>
</header>
<div class="detail">
    <ul th:object="${dto}">
        <li th:text="|번호 : *{boardId}|"/>
        <li th:text="|작성일 : ${#temporals.format(dto.writeDate,'yyyy-MM-dd HH:mm:ss')}|"/>
        <li th:text="|수정일 : ${#temporals.format(dto.updateDate,'yyyy-MM-dd HH:mm:ss')}|"/>
        <li th:text="|제목 : *{title}|"/>
        <li th:text="|내용 : *{content}|"/>
    </ul>
</div>
<div class="btns">
    <a th:href="@{|/modify/${dto.boardId}|}" th:text="수정"/>
    <button type="button" th:boardId="${dto.boardId}" th:onclick="delData(this.getAttribute('boardId'))">삭제</button>
</div>
<div class="subs">
    <form>
        <input type="text" name="content" placeholder="댓글을 작성하세요">
        <button type="button" th:onclick="writeSub()">댓글</button>
    </form>
    <div>
        <ul id="sublist"></ul>
    </div>
</div>

</body>
</html>